<div class="jumbotron">
    <!-- Incluída a imagem da logo do sistema Genesys-->
    <img src="../img/logo-saude.png" class="logo" alt="Saude Mobile">
    <div class="container">
        <!--div class="login-form"-->
        <!--div class="form-control"-->
        <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>
        <div class="col-md-12">
            <hr/>
            <form name="form" ng-submit="vm.login()" role="form">
                <div class="form-group" ng-class="{ 'has-error': form.email.$dirty && form.email.$error.required }">
                    <!--EMAIL-->
                    <input type="text" name="email" id="email" class="form-control" ng-model="vm.email" required placeholder="Email" />
                    <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">Digite um email</span>
                </div>
                <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                    <!--SENHA-->
                    <input type="password" name="password" id="password" class="form-control" ng-model="vm.password" required placeholder="Senha" />
                    <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Digite uma senha</span>
                </div>
                <div class="form-actions">
                    <button type="submit" ng-disabled="!form.$valid || vm.dataLoading" class="btn btn-primary btn-block">Entrar</button>
                    <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
                    /><br>
                    <a class="nav-link" href="#/register">Cadastrar</a>&nbsp;&nbsp;&nbsp;


                </div>
            </form>
        </div>
        <!--/div>
    <!--/div-->
    </div>
</div>